<!DOCTYPE <!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EditLab</title>
    <link href="css/style.css" rel="stylesheet">
    {{ bootstrap.load_css() }}
  </head>
  <body>
    <div class="card m-auto" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Upload an Image</h5>
        <p class="card-text">Upload an image to apply filters to.</p>
        <input class="m-auto my-2" type="file" id="filter_img" name="filter_img" accept=".png, .jpg, .jpeg" />
        <a href="#" class="btn btn-primary">Submit</a>
      </div>
    </div>
    {{ bootstrap.load_js() }}
  </body>
</html>

