<!DOCTYPE <!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EditLab</title>
    <link href="css/style.css" rel="stylesheet">
    <style>
    </style>
    {{ bootstrap.load_css() }}
  </head>
  <body>
    <div class="sidebar">
      <h2>EditLab</h2>

      <!-- Upload Image Tab -->
      <label>
        Upload Image
        <input type="file" id="imageInput" accept=".png, .jpeg, .jpg" />
      </label>

      <!-- Brush Size Input -->
      <label>
        Brush Size
        <input type="range" id="brushSize" min="1" max="20" value="5" />
      </label>

      <!-- Brush Color Input -->
      <label>
        Brush Color
        <input type="color" id="brushColor" value="#ff0000" /> 
      </label>

      <!-- Brush Buttons -->
      <button class="brushTool">Brush</button>
      <button class="eraserTool">Eraser</button>
      <button class="clearCanvas">Clear</button>

      <!-- Export Button -->
      <button class="exportButton">Export</button>

      <hr />

      <!-- Filter Dropdown (add later)- Get items from Jayson's filter.py -->
      <button class="resetImage">Reset Image</button>

      <hr />

      <!-- Add image preview (don't use api token) -->
      
      <button class="download">Download</button>
    </div>

    <!-- Drawing Canvas -->
    <div class="canvas-wrapper">
      <canvas id="canvas" width="800" height="600"></canvas>
    </div>
    <script>
      // buttons

      // canvas 
      const brushTool = document.querySelector(".brushTool");
      const eraserTool = document.querySelector(".eraserTool");
      const clearCanvas = document.querySelector(".clearCanvas");

      // export
      const exportButton = document.querySelector(".exportButton");

      exportButton.addEventListener("click", () => {
        console.log("Button clicked!");
      });
    </script>
    
    {{ bootstrap.load_js() }}
  </body>
</html>

